In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

KeyboardInterrupt:

## Data exploration

In [ ]:
energy_balance_europe_df = pd.read_csv("../data/energy_balance_eu.csv")

In [ ]:
display(energy_balance_europe_df)

        nrg_bal             siec unit geo  TIME_PERIOD  OBS_VALUE
0           AFC  C0000X0350-0370  GWH  AL         1990   6644.088
1           AFC  C0000X0350-0370  GWH  AL         1991   3816.945
2           AFC  C0000X0350-0370  GWH  AL         1992   1067.475
3           AFC  C0000X0350-0370  GWH  AL         1993    525.540
4           AFC  C0000X0350-0370  GWH  AL         1994    459.514
...         ...              ...  ...  ..          ...        ...
3863011  TO_RPI       W6100_6220   TJ  XK         2015        NaN
3863012  TO_RPI       W6100_6220   TJ  XK         2016        NaN
3863013  TO_RPI       W6100_6220   TJ  XK         2017        NaN
3863014  TO_RPI       W6100_6220   TJ  XK         2018        NaN
3863015  TO_RPI       W6100_6220   TJ  XK         2019        NaN

[3863016 rows x 6 columns]

In [ ]:
nrg_bal_dict = pd.read_csv("../data/nrg_bal_dict.csv")
siec_dict = pd.read_csv("../data/siec_dict.csv")

In [ ]:
complete_energy_balance_df = energy_balance_europe_df.merge(nrg_bal_dict, left_on='nrg_bal', right_on='nrg_bal')
display(complete_energy_balance_df)

,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,nrg_bal_name
0,AFC,C0000X0350-0370,GWH,AL,1990,6644.088,Available for final consumption
1,AFC,C0000X0350-0370,GWH,AL,1991,3816.945,Available for final consumption
2,AFC,C0000X0350-0370,GWH,AL,1992,1067.475,Available for final consumption
3,AFC,C0000X0350-0370,GWH,AL,1993,525.540,Available for final consumption
4,AFC,C0000X0350-0370,GWH,AL,1994,459.514,Available for final consumption
...,...,...,...,...,...,...,...
3863011,TO_RPI,W6100_6220,TJ,XK,2015,NaN,Transformation output - refineries and petroch...
3863012,TO_RPI,W6100_6220,TJ,XK,2016,NaN,Transformation output - refineries and petroch...
3863013,TO_RPI,W6100_6220,TJ,XK,2017,NaN,Transformation output - refineries and petroch...
3863014,TO_RPI,W6100_6220,TJ,XK,2018,NaN,Transformation output - refineries and petroch...
3863015,TO_RPI,W6100_6220,TJ,XK,2019,NaN,Transformation output - refineries and petroch...

In [ ]:
complete_energy_balance_df = complete_energy_balance_df.merge(siec_dict, left_on='siec', right_on='siec')
display(complete_energy_balance_df)

,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,nrg_bal_name,siec_name
0,AFC,C0000X0350-0370,GWH,AL,1990,6644.088,Available for final consumption,Solid fossil fuels
1,AFC,C0000X0350-0370,GWH,AL,1991,3816.945,Available for final consumption,Solid fossil fuels
2,AFC,C0000X0350-0370,GWH,AL,1992,1067.475,Available for final consumption,Solid fossil fuels
3,AFC,C0000X0350-0370,GWH,AL,1993,525.540,Available for final consumption,Solid fossil fuels
4,AFC,C0000X0350-0370,GWH,AL,1994,459.514,Available for final consumption,Solid fossil fuels
...,...,...,...,...,...,...,...,...
3863011,TO_RPI,W6100_6220,TJ,XK,2015,NaN,Transformation output - refineries and petroch...,Non-renewable waste
3863012,TO_RPI,W6100_6220,TJ,XK,2016,NaN,Transformation output - refineries and petroch...,Non-renewable waste
3863013,TO_RPI,W6100_6220,TJ,XK,2017,NaN,Transformation output - refineries and petroch...,Non-renewable waste
3863014,TO_RPI,W6100_6220,TJ,XK,2018,NaN,Transformation output - refineries and petroch...,Non-renewable waste
3863015,TO_RPI,W6100_6220,TJ,XK,2019,NaN,Transformation output - refineries and petroch...,Non-renewable waste

### Data Analysis

In [ ]:
complete_energy_balance_df.groupby(["geo", "nrg_bal"]).count()

                  siec  unit  TIME_PERIOD  OBS_VALUE  nrg_bal_name  siec_name
geo nrg_bal
AL  AFC           1080  1080         1080       1080          1080       1080
    DL            1080  1080         1080        990          1080       1080
    EXP           1080  1080         1080        990          1080       1080
    FC_E          1080  1080         1080        990          1080       1080
    FC_IND_CON_E  1080  1080         1080        990          1080       1080
...                ...   ...          ...        ...           ...        ...
XK  TO_GW          720   720          720        180           720        720
    TO_LBB         720   720          720        120           720        720
    TO_NSP         720   720          720        300           720        720
    TO_PF          720   720          720        120           720        720
    TO_RPI         720   720          720        180           720        720

[3956 rows x 6 columns]

### Data Vizualisation